
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background: #eee;
	font-family: sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	text-align: left;
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	background: #eee;
	border-radius: 3px;
	list-style: none;
}

@media (min-width: 769px) {
	.container {
		margin: 2.5rem auto;
	}
}

.quiz-card{
	background: #fff;
	padding: 0px;
	margin: 15px;
}
.quiz-header{
	background: #303a4c;
	color: #d3c2ef;
	padding: 15px;
}
.quiz-option input{
	cursor: pointer;
	transform: scale(1.5);
	margin-right: 20px;
}

.quiz-option{
	border-top: 1px solid #eee;
	padding: 20px 0;
	cursor: pointer;
}

.quiz-option:hover {
	background-color: #f9fafc;
}

.quiz-custom-label{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.quiz-custom-label{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
}

.button-btn {
	border: none;
	background: #ff911c;
	border-bottom: 0.4rem solid #e87800;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 26px;
}
button {
	cursor: pointer;
}

.quiz-form{
	text-align: center;
}

.modal{
	background: #42526d;
	color: white;
	max-width: 30rem;
	outline:none;
	padding: 20px;
	text-align: center;
}

.modal__title{
	margin: 0 0 20px 0;
}
.modal__body{
	font-size: 20px;
	font-weight: 300;
	margin: 0 0 20px 0;
	word-break: break-all;
}
